<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Vue App</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <script src="vue.js"></script>
        
    </head>
    <body>
        <div id="app">
            <table id="table1">
                <thead>
                    <tr>
                        <th v-for="col in columns">{{col}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="row in rows">
                        <td v-for="col in columns">{{ row[col] }}</td>
                    </tr>
                </tbody>
            </table>

             <br/>
            
            <p v-on:mousemove="updateCoordinates">
                Coordinates: {{ x }} / {{ y }}
            </p>

            <input type="text" v-on:keyup.enter="enterPressed">
        </div>

        <script src="js/project.js"></script>
    </body>
</html> 